<div class="mx-auto text-center">
  <table border="0">
    <tr><%= image_tag user.get_profile_image(100,100) %></tr><br><br>
    <tr><strong>Name</strong>　</tr>
    <tr><%= user.name %></tr><br><br>
    <td>follow　<%=  link_to user.followings.count, user_followings_path(user.id) %></td>
    <td>follower　<%= link_to user.followers.count, user_followers_path(user.id) %></td>
  </table><br>
  <div class="center-block">
    <% if current_user.following?(user) %>
      <%= link_to "フォロー解除", user_relationships_path(user.id), class:"btn btn-danger rounded-pill btn-block btn-sm", method: :delete %><br>
    <% else %>
      <%= link_to "フォロー", user_relationships_path(user.id), class:"btn btn-primary rounded-pill btn-block btn-sm", method: :post %>
 　　<% end %>
  </div>
</div>