<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="mt-4 mb-4"><strong>検索結果</strong></h2>
      <h4 class="mb-4">検索ワード【<%= @word %>】</h4>

      <table class="table table-hover table-inverse">

        <% if @range == "聖地名" %>
          <% @posts.each do |post| %>
            <thead>
              <tr>
                <th></th>
                <th>聖地名</th>
                <th>投稿者</th>
                <th>お気に入り数</th>
                <th>投稿日</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.get_post_image(100,100) %></td>
                <% end %>
              </td>
              <td><%=link_to post.title, post_path(post.id) %></td>
              <td><%= link_to post.user.name, user_path(post.user.id), class:"post_#[user.id}" %></td>
              <td><%= post.favorites.count %></td>
              <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <% end %>
        </tbody>
        <% else %>
        <tbody>
          <% @users.each do |user| %>
            <thead>
              <tr>
                <th></th>
                <th>ユーザー名</th>
                <th>フォロー</th>
                <th>フォロワー</th>
              </tr>
            </thead>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(70,70) %></td>
                <% end %>
              </td>
              <td><%= link_to user.name, user_path(user.id), class:"post_#[user.id}" %></td>
              <td><%=  link_to user.followings.count, user_followings_path(user.id) %>　フォロー</td>
              <td><%= link_to user.followers.count, user_followers_path(user.id) %>　フォロワー</td>
            </tr>
            <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>