<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-4 float-center">
      <h2 class><strong>みんなの聖地一覧</strong></h2><br>
      <%= render "searches/form" %>
       <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th></th>
          <th>聖地名</th>
          <th>投稿者</th>
          <th>お気に入り</th>
          <th>コメント数</th>
        </tr>
      </thead>
       <% @posts.each do |post| %>
       <tr>
          <td>
            <%= link_to post_path(post.id), data: {"turbolinks" => false} do %>
              <%= image_tag post.get_post_image(100,100) %></td>
            <% end %>
          </td>
          <td>
            <%= link_to post.title, post_path(post.id), data: {"turbolinks" => false} %>
          </td>
          <td>
            <%= link_to post.user.name, user_path(post.user.id) %>
          </td>
          <td class="favorite_btn_<%= post.id %>">
            <%= render "favorites/favorite", post: post %>
          </td>
          <td><%= post.post_comments.count %></td>
       </tr>
       <% end %>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>




