<header>
  <nav class="navbar navbar-expand-lg navbar-dark color" style="background-color:#008080" >
    <div class="container">
      <% if user_signed_in? %>
        <%= link_to new_api_v1_post_path, data: {"turbolinks" => false} do %>
          <%= image_tag "logo_text3.png", width: "120px" %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag "logo_text3.png", width: "120px" %>
        <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <nav class="nav navbar-nav text-white mt-2 mr-4">
          <% if user_signed_in? %>
              <span>Hello, <%= current_user.name %> !</span>
            </nav>
            <li>
              <%= link_to "みんなの聖地", api_v1_posts_path, class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "マイページ", user_path(current_user), class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-light mb-1" %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "投稿一覧", admin_posts_path, class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "会員一覧", admin_users_path, class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-light mb-1" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Top", root_path, class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "ロケチリ！って？", home_about_path, class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-light mr-4 mb-1" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-light mb-1" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>